/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.env.testing
/.idea
_ide_helper.php
doc/blueprint/api.html
storage/debugbar/
public/css
public/js
public/img
public/svg
public/fonts
clockingit.sql
selenium-server-standalone-*.jar
/docker
