// ------------------------------- //
//             Profile             //
// ------------------------------- //

.profile-trigger {
    border: none;
    background-color: transparent;
    img{
        border-radius: 100%;
        width: 42px;
        height: 42px;
    }
}
